@font-face
{
    font-family: 'league';
    src: url('league.eot?iefix' ) format('eot'), url('league.ttf') format('truetype'), url('league.woff') format('woff'), url('league.svg#webfont') format('svg');
}


h1 
{    
  font-family: league, Arial, Helvetica, sans-serif;
     font-size:32px;
     margin:5px 0;
     color: #444;
}

h2 
{    
  font-family: league, Arial, Helvetica, sans-serif;
     font-size:24px;
     margin:5px 0;
     color: #444;
}

body
{
    background-image: url(../images/ruido.png);
    background-color: #BCC7D8;
     font-family: Arial, Helvetica, sans-serif;
     font-size:13px; 
    
}

#menu
{
    list-style-type: none;
    text-align: left;
    height: 45px;
    background-color: #444;
}
#menu li
{
    display: inline;
    font-size: 24px;
    text-transform: uppercase;
    color: #3d90ba;
    cursor: pointer;
    position: relative;
    margin: 0 25px 0 0px;
}
#menu li a
{
    font-family: league, Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #FFF;
}
#menu li a:hover
{
    font-family: league, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #727CD5;
}



#principal
{
    background-color: #FFF;
    border-top-width:3px;
    border-top-style:solid;
    border-top-color:#444;
    padding-bottom:5px;
}


.columnaDestacada
{
 
 background-color:#BCC7D8;
 
}

#pie
{
    background-color: #444;
    text-align: center;
    color:#FFF;
    height:15px;
    padding:5px 0;
}
input[type="submit"]{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
}

input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

input[type="submit"]:active {
	position:relative;
	top:1px;
}


.popup
{background-color:#FFF;
 background-image:none;
 text-align:center;
 padding-top:50px;
}


